@font-face {font-family: "PECFontIcons";
  src: url("PECFontIcons.woff2?t=1644352306845") format("woff2"),
  url("PECFontIcons.woff?t=1644352306845") format("woff"),
  url('PECFontIcons.ttf?t=1644352306845') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('PECFontIcons.svg?t=1644352306845#PECFontIcons') format('svg'); /* iOS 4.1- */
}

[class^="PECFontIcons-"], [class*=" PECFontIcons-"] {
  font-family: 'PECFontIcons' !important;
  /*font-size:16px;*/
  font-size:5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
  vertical-align: middle;
}

.PECFontIcons-wi-cloud:before { content: "\ea01"; }
.PECFontIcons-wi-cloudy-gusts:before { content: "\ea02"; }
.PECFontIcons-wi-cloudy-windy:before { content: "\ea03"; }
.PECFontIcons-wi-cloudy:before { content: "\ea04"; }
.PECFontIcons-wi-dust:before { content: "\ea05"; }
.PECFontIcons-wi-fire:before { content: "\ea06"; }
.PECFontIcons-wi-fog:before { content: "\ea07"; }
.PECFontIcons-wi-gale-warning:before { content: "\ea08"; }
.PECFontIcons-wi-hail:before { content: "\ea09"; }
.PECFontIcons-wi-hot:before { content: "\ea0a"; }
.PECFontIcons-wi-humidity:before { content: "\ea0b"; }
.PECFontIcons-wi-hurricane-warning:before { content: "\ea0c"; }
.PECFontIcons-wi-hurricane:before { content: "\ea0d"; }
.PECFontIcons-wi-na:before { content: "\ea0e"; }
.PECFontIcons-wi-rain-mix:before { content: "\ea0f"; }
.PECFontIcons-wi-rain-wind:before { content: "\ea10"; }
.PECFontIcons-wi-rain:before { content: "\ea11"; }
.PECFontIcons-wi-sandstorm:before { content: "\ea12"; }
.PECFontIcons-wi-showers:before { content: "\ea13"; }
.PECFontIcons-wi-sleet:before { content: "\ea14"; }
.PECFontIcons-wi-small-craft-advisory:before { content: "\ea15"; }
.PECFontIcons-wi-smog:before { content: "\ea16"; }
.PECFontIcons-wi-smoke:before { content: "\ea17"; }
.PECFontIcons-wi-snow-wind:before { content: "\ea18"; }
.PECFontIcons-wi-snow:before { content: "\ea19"; }
.PECFontIcons-wi-snowflake-cold:before { content: "\ea1a"; }
.PECFontIcons-wi-solar-eclipse:before { content: "\ea1b"; }
.PECFontIcons-wi-sprinkle:before { content: "\ea1c"; }
.PECFontIcons-wi-storm-showers:before { content: "\ea1d"; }
.PECFontIcons-wi-storm-warning:before { content: "\ea1e"; }
.PECFontIcons-wi-strong-wind:before { content: "\ea1f"; }
.PECFontIcons-wi-sunrise:before { content: "\ea20"; }
.PECFontIcons-wi-sunset:before { content: "\ea21"; }
.PECFontIcons-wi-thunderstorm:before { content: "\ea22"; }
.PECFontIcons-wi-tornado:before { content: "\ea23"; }
.PECFontIcons-wi-tsunami:before { content: "\ea24"; }
.PECFontIcons-wi-wind-beaufort-0:before { content: "\ea25"; }
.PECFontIcons-wi-wind-beaufort-1:before { content: "\ea26"; }
.PECFontIcons-wi-wind-beaufort-10:before { content: "\ea27"; }
.PECFontIcons-wi-wind-beaufort-11:before { content: "\ea28"; }
.PECFontIcons-wi-wind-beaufort-12:before { content: "\ea29"; }
.PECFontIcons-wi-wind-beaufort-2:before { content: "\ea2a"; }
.PECFontIcons-wi-wind-beaufort-3:before { content: "\ea2b"; }
.PECFontIcons-wi-wind-beaufort-4:before { content: "\ea2c"; }
.PECFontIcons-wi-wind-beaufort-5:before { content: "\ea2d"; }
.PECFontIcons-wi-wind-beaufort-6:before { content: "\ea2e"; }
.PECFontIcons-wi-wind-beaufort-7:before { content: "\ea2f"; }
.PECFontIcons-wi-wind-beaufort-8:before { content: "\ea30"; }
.PECFontIcons-wi-wind-beaufort-9:before { content: "\ea31"; }
.PECFontIcons-wi-wind-deg:before { content: "\ea32"; }
.PECFontIcons-wi-windy:before { content: "\ea33"; }

$PECFontIcons-wi-cloud: "\ea01";
$PECFontIcons-wi-cloudy-gusts: "\ea02";
$PECFontIcons-wi-cloudy-windy: "\ea03";
$PECFontIcons-wi-cloudy: "\ea04";
$PECFontIcons-wi-dust: "\ea05";
$PECFontIcons-wi-fire: "\ea06";
$PECFontIcons-wi-fog: "\ea07";
$PECFontIcons-wi-gale-warning: "\ea08";
$PECFontIcons-wi-hail: "\ea09";
$PECFontIcons-wi-hot: "\ea0a";
$PECFontIcons-wi-humidity: "\ea0b";
$PECFontIcons-wi-hurricane-warning: "\ea0c";
$PECFontIcons-wi-hurricane: "\ea0d";
$PECFontIcons-wi-na: "\ea0e";
$PECFontIcons-wi-rain-mix: "\ea0f";
$PECFontIcons-wi-rain-wind: "\ea10";
$PECFontIcons-wi-rain: "\ea11";
$PECFontIcons-wi-sandstorm: "\ea12";
$PECFontIcons-wi-showers: "\ea13";
$PECFontIcons-wi-sleet: "\ea14";
$PECFontIcons-wi-small-craft-advisory: "\ea15";
$PECFontIcons-wi-smog: "\ea16";
$PECFontIcons-wi-smoke: "\ea17";
$PECFontIcons-wi-snow-wind: "\ea18";
$PECFontIcons-wi-snow: "\ea19";
$PECFontIcons-wi-snowflake-cold: "\ea1a";
$PECFontIcons-wi-solar-eclipse: "\ea1b";
$PECFontIcons-wi-sprinkle: "\ea1c";
$PECFontIcons-wi-storm-showers: "\ea1d";
$PECFontIcons-wi-storm-warning: "\ea1e";
$PECFontIcons-wi-strong-wind: "\ea1f";
$PECFontIcons-wi-sunrise: "\ea20";
$PECFontIcons-wi-sunset: "\ea21";
$PECFontIcons-wi-thunderstorm: "\ea22";
$PECFontIcons-wi-tornado: "\ea23";
$PECFontIcons-wi-tsunami: "\ea24";
$PECFontIcons-wi-wind-beaufort-0: "\ea25";
$PECFontIcons-wi-wind-beaufort-1: "\ea26";
$PECFontIcons-wi-wind-beaufort-10: "\ea27";
$PECFontIcons-wi-wind-beaufort-11: "\ea28";
$PECFontIcons-wi-wind-beaufort-12: "\ea29";
$PECFontIcons-wi-wind-beaufort-2: "\ea2a";
$PECFontIcons-wi-wind-beaufort-3: "\ea2b";
$PECFontIcons-wi-wind-beaufort-4: "\ea2c";
$PECFontIcons-wi-wind-beaufort-5: "\ea2d";
$PECFontIcons-wi-wind-beaufort-6: "\ea2e";
$PECFontIcons-wi-wind-beaufort-7: "\ea2f";
$PECFontIcons-wi-wind-beaufort-8: "\ea30";
$PECFontIcons-wi-wind-beaufort-9: "\ea31";
$PECFontIcons-wi-wind-deg: "\ea32";
$PECFontIcons-wi-windy: "\ea33";

